.hero {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  background: url('../images/pngtree-virtual-world-map-in-3d-rendering-picture-image_3697554-transformed.png') center/cover no-repeat;
  background-attachment: fixed;
}

.hero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero_block {
  position: relative;
  z-index: 2;
  max-width: 800px;
  color: #ddd;
  margin: 200px auto;
}

.hero h1 {
  background: linear-gradient(90deg, #9b59b6, #793297);
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #e77630;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #eaeaea;
}

.btn{
  padding: 15px 30px;
  background: linear-gradient(90deg, #8e44ad, #9b59b6);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.btn:hover {
  color: white;
  transform: scale(1.05);
  background: linear-gradient(90deg, #9b59b6, #d1a1d7);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}